* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height:100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #441c94;
    background-color: bisque;
}

.container {
     /* border-radius: 2px solid green; */
    display: flex;  
    align-items: center;
    width:900px;
    height:700px;  
    flex-wrap: wrap;
    margin: auto;
    perspective:1000px; 
}

.cards {
    width:25%;
    height: 32.5%;
    position:relative;
      /* parent of frontC and backC  */
    margin:0;
    transform: scale(1.1);
    transform-style: preserve-3d;  
    transition: transform .5s   

}
 .cards.turn {
    transform: rotateY(180deg)

} 
.frontC, .backC {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; 
    /* default is relative to body , we need to change the position relative to its parent element (.cards)  */
    backface-visibility: hidden; 
}

img {
    width: 60px;
    height: 65px;
}         

.frontC {
    transform: rotateY(180deg);
}

.cards:active {
    transform: scale(0.9);
    transition: transform .2s;

}  
#restart {
    margin: 8px;
    font-size: 20px;
    border-radius: solid grey ;
    background-color: goldenrod;

}



